Xft.dpi:                        96
Xft.antialias:                  true

URxvt*termName:                 xterm-256color
URxvt*font:                     xft:Monospace:pixelsize=14:antialias=true
URxvt*depth:                    32
/* URxvt*lineSpace:                1 */
/* URxvt*letterSpace:              -0.5 */
URxvt*scrollBar:                true
URxvt*scrollBar_right:          false
URxvt*scrollcolor:              #ffffff
URxvt*thickness:                5
URxvt*internalBorder:           28
URxvt*buffered:                 true
URxvt*saveLines:                30000
URxvt*hold:                     false
URxvt*jumpScroll:               false
URxvt*skipScroll:               false
URxvt*urgentOnBell:             true
URxvt*scrollstyle:              plain
URxvt.keysym.Shift-Control-V:   eval:paste_clipboard
URxvt.keysym.Shift-Control-C:   eval:selection_to_clipboard
URxvt*iso14755:                 false
URxvt*iso14755_52:              false
/* URxvt*fading:                   15 */
URxvt*scrollTtyOutput:          false
URxvt*scrollWithBuffer:         true
URxvt*scrollTtyKeypress:        true

URxvt*transparent: false
URxvt*shading: 120
URxvt*tintColor: #282A36

! Dracula Color Scheme
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6
